/*This is everything that has to do with the Header*/
header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  align-items: center;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
  height: 80px;
  position: fixed;
  justify-content: space-between;
  background-color: white;
  z-index: 5;
  top: 0px;

}
header p{
  color: MediumAquamarine;
}

/*This is everything that has to do with the logo*/
.logo{
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.logo img{
  margin-right: 12px;
}

/*This is the navigation*/
header nav{
  display: inline-block;
  align-items: center;
  padding-right: 40px;
}
nav span{
    padding: 20px 10px;
}
nav a{
  color: black;
}

/*This is the body structure*/
main{
  display: flex;
  padding-top: 116px;
  margin: 0 auto 78px auto;
  justify-content: center;
  /*width: 1232px;*/
}
.text-content{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.image-content{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  display: flex;
}
.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}
.story-body{
  display: flex;
  justify-content: space-between;
}
.story1, .story2{
  width: 300px;
}
.large .story-body .text-content{
  height: 250px;
  width: 300px;
}
.column.large .top{
  background-image: url("img-story-main.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
}
.column.large .story1 .image-content{
  background-image: url("img-story-2.png");
  display: flex;

}
.column.large .story2 .image-content{
  background-image: url("img-story-3.png");
  display: flex;
}


.column.medium {
  width: 300px;
}
.column.medium .story3 .image-content{
  background-image: url("img-story-1.png");
  display: flex;
}


.column.small {
  width: 240px;
  margin-right: 32px;
}
.column.small h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.column.small .text-content span{
  display: flex;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}

/*This is the Section for the Footer*/

footer{
  background-color: MediumAquamarine;
margin: auto;
font-family: Verdana;
font-size: 12px;
height: 325px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

footer .title{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}
footer .info{
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
}
footer .info nav{
  display: inline-block;
  padding-left: 25px;
}

footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
